<nav class="navbar navbar-light bg-Ardoise text-light bshadow">
    <div class="container-fluid">
      <p class="navbar-brand" >
        <img src="../../assets/WitchyLogo.gif" alt="" width="80" height="100" class="d-inline-block align-text-top">
      </p>
      <a  routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Witchy </a>
      <a > Board </a>
      <a routerLink="categories" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> Products </a>
    </div>

  </nav>