@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

.title{
    font-size: 5vw;
    font-family: 'EB Garamond', serif;
}

small{
    font-size: 11px;
    font-style: italic;
    color: rgb(184, 184, 175);
}

